.box{
    height: 125px;
    width: 375px;
    border: 2px solid black;
    position: absolute;
}
.box h2{
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    position: relative;
    left: 20px;
}
.box p{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 40px;
    width: 300px;
}
.box button{
    font-family: 'Roboto', sans-serif;
    background-color: #ffc107;
    width: 50px;
    height: 25px;
    box-shadow: 2px 2px 2px;
    position: relative;
    top: -120px;
    left: 300px;
}
.likes{
    font-family: 'Roboto' sans-serif;
    position: relative;
    top: -98px;
    left: 230px;
}
